@import '../settings/font';
@import '../settings/variables';

.contact {
  margin-left: $margin;
  margin-bottom: $margin;
  height: 100%;
  &--links{
  display: flex;
  flex-direction: column;
  height: 100%;
  .contact--links{
    &--main{
      font-size: 2em;
    }
    &--sub{
      margin-top: auto;
      margin-bottom: $margin;
    }
  }
  }
  h2 {
    font-size: 4em;
    color: $light;
    @include gradient-text();
  }
  a {
    color: $blue;
    padding-right: $base;
  }
  .section-title{
    color: $black;
    -webkit-text-stroke-color: $black;
    bottom: 140px;
    right: -180px;
  }
}
@media only screen and (min-width: 1030px) {
 .contact {
   .section-title {
    bottom: 321px;
    right: -363px;
 }

 }
}