@import '../settings/font';
@import '../settings/variables';

.project{
  margin: $margin;
 
  h1 {
    font-size: 5em;
    width: 80%;
  }
  .section-title{
    position: fixed;
    color: $black;
    -webkit-text-stroke-color: $black;
    right: -100px;
  }
}
.project-top {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  .project-manchet {
    width: 100%;
    margin-bottom: $margin*4;
    &--description{
      font-size: 1.3em;
      margin-bottom: 1em;
      margin-right: $margin * 2;
    }
    &--tech {
      color: $blue;
      font-family: $display;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      p{
        margin-left: $base;
      }
    }
  }
  .project-top-image{
    width: 100%;
    margin-bottom: $margin;
    img, video {
      width: 100%;
    }
  }
  
}
.project-media {
    .project-medium {
      img, video {
        width: 100%;
      }
      &--description {
        font-size: 1.3em;
        width: 80%;
        margin-right: $margin * 2;
      }
    }
    margin-bottom: $margin*4;
  }
  @media only screen and (min-width: 1030px) {
    .project {
       margin-right: $margin * 3;
       .section-title {
         bottom: 200px;
          right: -300px;
       }
    }
    .project-top {
      flex-direction: row;
      .project-manchet {
        width: 40%;
        &--description {
          margin-right: 0;
        }
      }
      .project-top-image {
        width: 50%;
      }
    }
    .project-media {
    .project-medium {
        &--description {
          margin-right: 0;
        }
      }
    }
  }