@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import './variables';
$sans: 'Roboto', sans-serif;
$display: 'Bebas Neue', sans-serif;
$thick: 900;
$thin: 400;

@mixin outline($color :white) {
  font-family: $display;
  color: $color;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $color;
  letter-spacing: .2em;
  font-weight: 400;
}

.headline, h1, h2, h3 {
  font-family: $sans;
  font-weight: $thick;
}
a {
  font-family: $display;
  text-decoration: none;
  color: inherit;
}
@mixin gradient-text() {
  background: linear-gradient(45deg, $light, $blue, #ff3399, $light);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 20s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}